services:
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: "guest" 
      RABBITMQ_DEFAULT_PASS: "guest" 
    volumes:
      - ./rabbitmq_data:/var/lib/rabbitmq

  order-redis:
    image: redis:7-alpine
    container_name: order-service-redis
    ports:
      - "6379:6379"
    volumes:
      - ./redis_data:/data
    depends_on:
      - rabbitmq

  order-postgres:
    image: postgres:15-alpine
    container_name: order-service-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data

  order-dbmate:
    image: "ghcr.io/amacneil/dbmate:latest"
    container_name: order-service-dbmate
    environment:
      DATABASE_URL: postgresql://postgres:postgres@order-postgres:5432/postgres?sslmode=disable
    volumes:
      - ./db/migrations:/db/migrations
    command: -d db/migrations/ up
    depends_on:
      - order-postgres
