services:
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: "guest"
      RABBITMQ_DEFAULT_PASS: "guest"
    volumes:
      - ./rabbitmq_data:/var/lib/rabbitmq
      - ./rabbitmq/enabled_plugins:/etc/rabbitmq/enabled_plugins
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 5s
      timeout: 5s
      retries: 5

  order-redis:
    image: redis:7-alpine
    container_name: order-service-redis
    ports:
      - "6379:6379"
    volumes:
      - ./redis_data:/data
    depends_on:
      - rabbitmq
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  order-dbmate:
    image: "ghcr.io/amacneil/dbmate:latest"
    container_name: order-service-dbmate
    environment:
      DATABASE_URL: ${DATABASE_URL}
    volumes:
      - ./db/migrations:/db/migrations
    command: -d db/migrations/ up

  order-router:
    build: .
    container_name: order-router
    command: node dist/infrastructure/workers/router.js
    environment:
      - PARTITION_COUNT=2
      - RABBITMQ_HOST=rabbitmq
      - REDIS_URL=redis://order-redis:6379
    depends_on:
      rabbitmq:
        condition: service_healthy
      order-redis:
        condition: service_healthy

  order-api:
    build: .
    container_name: order-api
    command: node dist/index.js
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - RABBITMQ_HOST=rabbitmq
      - REDIS_URL=redis://order-redis:6379
    depends_on:
      rabbitmq:
        condition: service_healthy
      order-redis:
        condition: service_healthy
      order-dbmate:
        condition: service_completed_successfully

  order-worker-1:
    build: .
    container_name: order-worker-1
    command: node dist/infrastructure/workers/worker.js
    environment:
      - WORKER_PARTITION=1
      - RABBITMQ_HOST=rabbitmq
      - REDIS_URL=redis://order-redis:6379
    depends_on:
      rabbitmq:
        condition: service_healthy
      order-redis:
        condition: service_healthy
      order-router:
        condition: service_started

  order-worker-2:
    build: .
    container_name: order-worker-2
    command: node dist/infrastructure/workers/worker.js
    environment:
      - WORKER_PARTITION=2
      - RABBITMQ_HOST=rabbitmq
      - REDIS_URL=redis://order-redis:6379
    depends_on:
      rabbitmq:
        condition: service_healthy
      order-redis:
        condition: service_healthy
      order-router:
        condition: service_started

  order-outbox-worker:
    build: .
    container_name: order-outbox-worker
    command: node dist/infrastructure/workers/outbox.worker.js
    environment:
      - RABBITMQ_HOST=rabbitmq
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      rabbitmq:
        condition: service_healthy
      order-redis:
        condition: service_healthy
      order-dbmate:
        condition: service_completed_successfully
